
src/assignments/2/a.out

src/assignments/2/app

src/assignments/3/app

src/from_colloquiums/10-sept-2013/a.out

src/assignments/4/main.c

src/assignments/4/drawline.c

src/assignments/4/drawline.c

src/assignments/4/triangle.c

src/assignments/4/triangle.h

src/assignments/4/triangle.h
